# Core dependencies
yt-dlp
openai-whisper
youtube-transcript-api

# Language processing and embeddings
sentence-transformers
langchain
langchain-openai
openai

# Vector database
chromadb

# Machine learning
torch


# Text processing
transformers
huggingface-hub


# Data processing
pandas
numpy

# Environment and utilities
python-dotenv
tqdm

ffmpeg-python
rank_bm25
langchain-experimental
gradio
faiss-cpu
Pillow